* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, p, a {
    font-family: Hind;
}

body {
    background-color: #eefbff;
}

a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
    font-family: Hind;
  }
a:hover {
    color: coral;
}

.main-grid{
    display: grid;
    grid-template-columns: 23em auto 23em;
    grid-template-rows: 10em 15em 37.5em;
}


/* nastaveni celeho footeru */
footer{
    grid-column: 2/3;
    grid-row: 3/4;
    color: whitesmoke;
    font-family: Hind;
}

footer ul{
    list-style-type: none;
}




/* Zacatek velkych log pred footerem */

.footer-big-logos {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-top: 5em;
    padding-bottom: 0em;
}

.footer-big-logos__color{
    background-color: rgb(255, 122, 45);
    grid-column: 1/4;
    grid-row: 2/3;
}

.footer-big-logos__logo {
    margin-left: 2em;
    margin-right: 2em;
}
/* Konec velkych log pred footerem */



/* Background pro footer (nevim jestli je to takhle spravne) */
.footer-background {
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: rgb(0, 23, 49);
}



/* footer Edu logo a socials*/


.footer-social-logos {
    margin-left: 2em;
    margin-top: 4em;
}

#footer-edu-logo {
    margin-right: 14.5em;
}

.footer-social-logos__logo{
    margin-bottom: 0.3em;
    margin-right: 3.8em;
}



/* footer info a odkazy */

.footer-info {
    margin-top: 8.5em;
    margin-left: 5em;
    display: flex;
    justify-content: space-between;
}

.footer-info a, p, small {
    color: gray;
}

.footer-info a:hover {
    color: coral;
}

.footer-info__our-courses__section {
    display: flex;
}

.footer-info__our-courses__section>div{
    margin-right: 1.5em;
}




/* START News Letter*/

.footer-info__newsletter p {
    display: block;
    width: 30em;

}

.footer-info__newsletter__button{
    padding-top: 2em;

}

.footer-info__newsletter__button input{
    border: none;
    padding: 1.5em;
    width: 70%;
    height: 100%;
    background-color: #0c3542;
}

.footer-info__newsletter__button button{
    border: none;
    padding: 1.5em;
    position: relative;
    right: 4px;
    background-color: rgb(252, 115, 36);
    
    
}

.footer-info__newsletter__button button:hover{
    background-color: rgb(214, 57, 0);
}
/* copyright */

.footer-copyright {
    position: relative;
    left: 470px;
    top: 78px;
}

#footer-button {
    position: absolute;
    top: 665px;
    left: 1700px;
    padding: 1.5em;
    background-color: rgb(40, 126, 255);
    border: none;
}

#footer-button:hover{
    background-color: rgb(28, 86, 173);
}