* {
    margin: 0;
    padding: 0;
}
.main-grid__section {
    background-color: rgb(104, 104, 104);
    text-align: center;
}

.main-grid > div:nth-child(odd){
    background-color: rgb(185, 185, 185);
}

body {
    margin: 0;
}



/* Tady zacina grid*/

.main-grid{
    display: grid;
    grid-template-columns: 23.5em auto 23.5em;
    grid-template-rows: 5.5em 55em 65em 65em 65em 45em 65em 55em 45em 55em 55em;
}

.main-grid__header {
    grid-column: 1/4;
}

.main-grid__section{
    grid-column: 2/3;
}

.main-grid__footer{
    grid-column: 1/4;

}