* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e7f9ff;
}



a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
    font-family: Hind;


  }

a:hover {
    color: coral;
}

header{  
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
    margin-left: 2.3em;
    font-weight: bold;
    font-size: 1.2em;
}

.main-navigation__item > img{
    margin-top: 12px;
    margin-left: 5px;

}
.main-navigation {
    display: flex;
    margin-right: 31.5em;
    margin-left: 3em;
    list-style-type: none;
}

a.main-navigation__text {
    float: left;
    display: block;
    padding-left: 1.5em;
}

.header-icons__menu {
    padding-left: 2em;
}

.main-navigation__item__sub-menu{
    display: none;
}

.main-navigation__item__sub-menu>ul{
    list-style-type: none;
}

.main-navigation__item:hover .main-navigation__item__sub-menu{
    display: block;
    position: absolute;
    margin-left: 2em;
    margin-top: 0.5em;
}