* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e7f9ff;
}
a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
  }

a:hover {
    color: coral;
}


.main-navigation {
    display: flex;
    list-style-type: none;
    overflow: hidden;
}

a.main-navigation__item {
    float: left;
    display: block;
    padding: 2em 2em;
}
header{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em 0 4em;
}

.header-icons__menu {
    padding-left: 2em;
}